<div class="card mb-4">
    <div class="card-header" id="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr class="text-uppercase">
                    <th>Filière</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for code in codes %}
                    <tr>
                        <td width="770px">{{ code.name }}</td>
                        <td>
                            {{ include('admin/code/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>