{% extends 'base.html.twig' %}

{% block title %}Edit Bibliotheque{% endblock %}

{% block body %}
    <h1>Edit Bibliotheque</h1>

    {{ include('admin/bibliotheque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_bibliotheque_index') }}">back to list</a>

    {{ include('admin/bibliotheque/_delete_form.html.twig') }}
{% endblock %}
