<div class="col-md-3">
    <div class="osahan-account-page-left shadow-sm bg-white h-100">
        <div class="border-bottom p-4">
        <div class="osahan-user text-center">
            <div class="osahan-user-media">
                <img class="mb-3 rounded-pill shadow-sm mt-1" width="200px" src="{{ asset('images/avatars/'~app.user.avatar )}}" alt="Admin">
                <div class="osahan-user-media-body">
                    <h6 class="mb-2">{{ app.user.name }}</h6>
                    <p class="mb-1">Administrateur</p>
                </div>
            </div>
        </div>
        </div>
        <div class="list-group list-group-unbordered mb-3">
            <center>
                    <b>Dérnière mise à jour:</b><br>
                    <a > {{ app.user.updatedAt()|date_modify(' + 2 hours') |date('d/m/Y h:i:s') }}</a>
            </center>

        </div>
    </div>
</div>