<div class="nav">
    <div class="sb-sidenav-menu-heading"></div>

    <div class="sb-sidenav-menu-heading">MENU DE NAVIGATION</div>
    <a class="nav-link" href="{{ path('admin_dashboard') }}">
        <div class="sb-nav-link-icon">
            <i class="feather-home"></i>
        </div>
        Tableau de Bord
    </a>
    <a class="nav-link" href="{{ path('admin_profile') }}">
        <div class="sb-nav-link-icon">
            <i class="feather-user"></i>
        </div>
        Mon profil
    </a>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseLayoutss">
        <div class="sb-nav-link-icon">
            <i class="feather-list"></i>
        </div>
        Menu
        <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
    



    <a class="nav-link" href="{{ path('admin_price_index')}}">
        <div class="sb-nav-link-icon">
            <i class="feather-dollar-sign"></i>
        </div>
        Prix
    </a>

    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrestastion" aria-expanded="false" aria-controls="collapseLayoutss">
        <div class="sb-nav-link-icon">
            <i class="fas fa-car-side"></i>
        </div>
        Prestation
        <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
   

    <a class="nav-link" href="{{ path('easyadmin') }}">
        <div class="sb-nav-link-icon">
            <i class="feather-settings"></i>
        </div>
        Autre configuration
    </a>

</div>

