{% extends 'etudiant/base.html.twig' %}

{% block title %}Réinitialisé mot de passe{% endblock %}
{% block content %}
   <style>
        .errors ul li {
            color: red;
            list-style: none;
            margin-left: -37px;
        }
        .errors.form-label-group>input{
            border-bottom: 1px solid red !important;
            box-shadow: none !important;
         }
    </style>

    <div class="container-fluid">
         <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 col-lg-6 osahan-login-left px-0"></div>
            <div class="col-md-8 col-lg-6 justify-content-center flex-column px-0">
               <div class="login d-flex align-items-center py-5">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                           <h3 class="login-heading mb-4">Réinitialisé mot de passe</h3>
                           <form method="post" action="{{ path('etudiant_reset_password', {'token':token}) }}">
                              <div class="form-label-group">
                                 <input type="password" id="inputPassword" name="newPass" class="form-control" placeholder="Password">
                                 <label for="inputPassword">Mot de passe</label>
                              </div>
                              <div class="form-label-group">
                                 <input type="password" id="inputPassword2" name="confirmPass" class="form-control" placeholder="Password">
                                 <label for="inputPassword2">Confirmer votre mot de passe</label>
                              </div>
                              <button type="submit" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">{{ button_label|default('Enregistrer') }}</button>
                              <div class="text-center pt-3">
                                 Vous avez déjà un compte? <a class="font-weight-bold" href="{{ path('app_login') }}">Se connecter</a>
                              </div>
                            </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% block javascripts %}
         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
         <script type="text/javascript">
            jQuery(document).ready(function($){

            });
         </script>
      {% endblock %}
{% endblock %}

