{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <h1>Create new Cours</h1>

    {{ include('prof/cours/_form.html.twig') }}

    <a href="{{ path('cours_index') }}">back to list</a>
{% endblock %}
