<form method="post" action="{{ path('ue_delete', {'id': ue.id}) }}" onsubmit="return confirm('Vous etes sure que vous voulez supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ue.id) }}">
    <a class="btn btn-sm btn-success" href="{{ path('ue_edit', {'id': ue.id}) }}"><span class="fas fa-edit"></span></a>
    <button class="btn btn-sm btn-danger"><i class="fa fw fa-trash-alt"></i></button>
</form>
