<style>
    .scroldoc{
        padding-right:-20px;
        position: relative;
        width: 100%;
        height: 100px;
        overflow: auto;
    }
</style>
<div class="col-md-3">
    <div class="osahan-account-page-left shadow-sm bg-white h-100">
        <div class="border-bottom p-4">
        <div class="osahan-user text-center">
            <div class="osahan-user-media">
                <img class="mb-3 rounded-pill shadow-sm mt-1" width="200px" src="{{ asset('images/avatars/'~app.user.avatar )}}" alt="gurdeep singh osahan">
                <div class="osahan-user-media-body">
                    <h6 class="mb-2">{{ app.user.name }}</h6>
                    <p class="mb-1">Professeur</p>
                </div>
            </div>
        </div>
        </div>
        <div style="padding:10%">
            <b>Dérnière mise à jour:</b> <br> {{ app.user.updatedAt()|date_modify('+2 hours')|date('d/m/Y h:i:s') }}
        </div>
    </div>
</div>
