{% extends 'admin/base.security.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        .col-lg-5{
            margin-top: 150px;
        }
    </style>
   <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
            <main>
               <div class="container">
                  <div class="row justify-content-center">
                        <div class="col-lg-5">
                           <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Reset your password</h3></div>
                                <div class="card-body">
                                        <form method="post" action="{{ path('admin_reset_password', {'token':token}) }}">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">New Password</label>
                                            <input class="form-control py-4" id="inputPassword" type="password" name="newPass" placeholder="Enter password" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Cobfirm New Password</label>
                                            <input class="form-control py-4" id="inputPassword" type="password" name="confirmPass" placeholder="Enter password" />
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="{{ path('admin_login')}}">Return to login</a>
                                            <button class="btn btn-primary" type="submit" >Reset password</button>
                                        </div>
                                        </form>
                                </div>
                           </div>
                        </div>
                  </div>
               </div>
            </main>
      </div>
      <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
               <div class="container-fluid">
                  <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Ecole Privée Polytechnique de Sousse</div>
                        <div>
                           <a href="#">Privacy Policy</a>
                           &middot;
                           <a href="#">Terms &amp; Conditions</a>
                        </div>
                  </div>
               </div>
            </footer>
      </div>
   </div>
{% endblock %}
