{% extends 'admin/dashboard/base.html.twig' %}
{% block title %} Admin | Gestion des cours {% endblock %}



{% block main %}
    <style>

        .text-logo
        {
            font-family: 'Broadway BT', sans-serif;
            text-shadow: 2px 2px #1839DO;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        .filiere
        {
            margin: 15px 10%;
            width: 80%;
        }
        .breadcrumb{
            box-shadow: rgba(0,0,0,0.1) 0px 60px 40px -7px;
            backdrop-filter: blur(4px);
            color: rgba(59,76,255,0.91);
            font-weight: bold;
        }
        .txt{
            font-size: 25px;
            width: 270px;
        }

        .col-md-4 > a:hover{
            background-color: slategray;
        }
        .col-md-4 > a{
            background-color: rgba(19,19,19,0.74);
        }
        .card
        {
            border-radius:10px;
        }
        .content-header
        {
            margin-top: 20px;
        }

    </style>
    <div class="container-fluid">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">

                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h2 class="m-0 breadcrumb txt text-dark text-black">Gestion des Cours </h2>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a class="text-info" href="{{ path('admin_dashboard') }}">Tableau de Bord</a></li>
                            <li class="breadcrumb-item active">Mention</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="card" >
            <div class="card-header">
                <p class="text-logo text-info">Toutes les mentions</p>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for code in mentions %}
                        <div class="col-md-4">

                            <a class="text-white card  text-white mb-4"  href="{{ path('parcours_admin_gestion_cours', {'id': code.id}) }}">
                                <div class="card-body filiere text-center">
                                    <img width="30px" style="margin-right: 20px" src="{{ asset('images/fichier_icon/'~code.icon) }}" alt="logo">
                                    {{ code.name }}
                                </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">

                                </div>
                            </a>

                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}